<p style="color: green"><%= notice %></p>

<h1><%= @story.address %></h1>

<p><%= @story.body %></p>

<div>
  <%= link_to "Edit this story", edit_story_path(@story) %> |
  <%= link_to "Back to stories", stories_path %>

  <%= button_to "Destroy this story", @story, method: :delete %>
</div>

<div class='comments'>
  <p><strong>Comments</strong></p>
  <% @comments.each do |comment| %>
    <%= render partial: "comments/comment", locals: { comment: comment } %>
  <% end %>
</div>

<%= render partial: "comments/form", locals: { comment: @story.comments.build } %>
