<p style="color: green"><%= notice %></p>

<h1><%= @story.address %></h1>

<p>
<%= markdown @story.body %>
</p>

<div>
  <%= link_to "Edit this story", edit_story_path(@story) %> |
  <%= link_to "Back to stories", stories_path %>

  <%= button_to "Destroy this story", @story, method: :delete %>
</div>
