<p style="color: green"><%= notice %></p>

<h1><%= @story.address %></h1>

<p>
<%= @story.body %>
</p>

<div>
  <%= link_to "Edit this story", edit_story_path(@story) %> |
  <%= link_to "Back to stories", stories_path %>

  <%= button_to "Destroy this story", @story, method: :delete %>
</div>

<div class='comments'>
  <p>Comments</p>
  <% @story.comments.each do |comment| %>
    <div class='comment'>
      <p><%= comment.created_at %> <%= comment.body %></p>
    </div>
  <% end %>
</div>

<%= render 'comments/form', story: @story, comment: @comment %>