<p style="color: green"><%= notice %></p>

<h1>
  <%= @story.address %>
</h1>
<p>
  <%= @story.body %>
</p>

<div>
  <%= link_to t('.edit'), edit_story_path(@story) %> |
  <%= link_to t('.back'), location_path(@story.location) %>

  <%= button_to t('.destroy'), story_path(@story), method: :delete %>
</div>

<%= render template: "comments/index" %>
<%= render template: "comments/new" %>